In [45]:
import pandas as pd
from IPython.display import display, HTML
import openpyxl


# Replace 'data.csv' with the path to your CSV file
csv_file = 'Test.csv'

# Replace 'Your_Text_Column' with the actual column name containing the text
text_column = 'FromToDate'

# Load the data from CSV into a DataFrame
df = pd.read_csv(csv_file)

# Define a function to apply colors based on the conditions
def color_text(val):
    if '26MAY2023' in val:
        return 'color: red'
    elif 'APR23' in val:
        return 'color: darkorange'
    elif 'JUL' in val:
        return 'color: green'
    else:
        return ''


styled_df = df.style.applymap(color_text, subset=[text_column])
styled_df2 = df.style.to_excel('styled.xlsx',engine='openpyxl')